{% set current_page = request.args.get('page', 1) %} {% set query = request.args.get('query') %} {% set discount = discount_percentage if has_offer else 0 %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#0071ce">
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="accbd57043571b9b01688b1d-|49"></script>
    <link rel="stylesheet" href="https://www.lider.cl/catalogo/styles/main.css" type="text/css" media="print" onload="this.media='all'" />
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="accbd57043571b9b01688b1d-|49"></script>
    <link rel="stylesheet" href="https://www.lider.cl/catalogo/styles/wmt.css" type="text/css" media="print" onload="this.media='all'" />
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="accbd57043571b9b01688b1d-|49"></script>
    <link rel="stylesheet" href="https://www.lider.cl/catalogo/styles/iconfont.css" type="text/css" media="print" onload="this.media='all'" />
    <script type="accbd57043571b9b01688b1d-text/javascript" src="https://www.lider.cl/catalogo/environment.js?ts=1234"></script>
    <script type="accbd57043571b9b01688b1d-text/javascript" src="https://www.lider.cl/catalogo/js/dll/dll.js"></script>
    <meta name="google-site-verification" content="J8Hls6GTMGdb9vgQarC74Je8BGxu8BqQ16dEF38yrqU" />


    <script defer type="accbd57043571b9b01688b1d-text/javascript">
        (function() {
            var id = "nnam4jsrybkscl0mpvzu2hg1kso2ygwsrbr";
            var js = document.createElement("script");
            js.setAttribute("type", "text/javascript");
            js.setAttribute("src", "//deploy.mopinion.com/js/pastease.js");
            js.async = true;
            document.getElementsByTagName("head")[0].appendChild(js);
            var t = setInterval(function() {
                try {
                    new Pastease.load(id);
                    clearInterval(t)
                } catch (e) {}
            }, 50)
        })();
    </script>

    <link rel="shortcut icon" href="https://www.lider.cl/catalogo/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" as="style" onload="this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap" rel="stylesheet" media="print" onload="this.media='all'">

    <title>Resultados de Búsqueda | Lider.cl</title>
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://www.lider.cl/catalogo/css/7.css?ts=1606155085934" rel="stylesheet">
    <link href="https://www.lider.cl/catalogo/css/10.css?ts=1606155085934" rel="stylesheet">
    <link href="https://www.lider.cl/catalogo/css/8.css?ts=1606155085934" rel="stylesheet">
    <link href="https://www.lider.cl/catalogo/css/14.css?ts=1606155085934" rel="stylesheet">
</head>

<body>
    <div id="root">
        <div class="wrapper">
            <section>
                <div class="d-flex">
                    <div id="header" class="header-info">
                        <div class="header-wrapper header-info-expanded">
                            <span>Servicio al cliente de Lider.cl:
                <a href="tel:6004009000">600 400 9000</a> | Horario: de lunes a viernes de 8:00 a 22:00 y sábado,
                domingo y festivos de 9:00 a 22:00
              </span>
                            <div>
                                <a href="https://www.lider.cl/agenda/#JuntosNosCuidamos" class="styled__StoreLink-sc-17jbrkg-0 eChuqJ">
                                    <img height="13px" alt="agenda" src="https://www.lider.cl/catalogo/images/agenda_icon.svg">
                                    <span>agenda tu visita</span>
                                </a>
                                <a href="https://www.lider.cl/tiendas" class="styled__StoreLink-sc-17jbrkg-0 eChuqJ">
                                    <img height="13px" alt="locales" src="https://www.lider.cl/catalogo/images/locales_icon.svg">
                                    <span>locales y horarios</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="site-header compact" style="background-color: rgb(0, 113, 206);">
                        <div class="header-wrapper">
                            <div class="logo">
                                <a href="https://www.lider.cl/catalogo/">
                                    <img alt="Lider Logo" src="https://www.lider.cl/catalogo/images/lider-logo.svg" style="width: 152px; height: 35px; margin-top: 12px; margin-bottom: 6px;">
                                </a>
                            </div>
                            <div class="menu-icon-container">
                                <div style="cursor: pointer; display: flex;">
                                    <div class="styled_burger">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="show-category">Categorías</div>
                                </div>
                            </div>
                            <div style="width: 100%; margin: 0px 3%;">
                                <div class="search-width">
                                    <div class="search-box-container-header" style="padding-top: 10px;">
                                        <section>
                                            <div class="ais-InstantSearch__root">
                                                <div class="ais-SearchBox">
                                                    <form class="ais-SearchBox-form" role="search" method="GET">
                                                        <input type="search" placeholder="¿Qué estás buscando?" maxlength="512" class="ais-SearchBox-input" value="{{query or ''}}" name="query">
                                                        <button type="submit" title="Submit your search query." class="ais-SearchBox-submit search-input-icons">
                              <svg class="ais-SearchBox-submitIcon" xmlns="http://www.w3.org/2000/svg" width="10"
                                height="10" viewBox="0 0 40 40">
                                <path
                                  d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z">
                                </path>
                              </svg>
                            </button>
                                                        <button type="button" title="Clear the search query." class="ais-SearchBox-reset search-input-icons" hidden="">
                              <svg class="ais-SearchBox-resetIcon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" width="10" height="10">
                                <path
                                  d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z">
                                </path>
                              </svg>
                            </button>
                                                        <span class="ais-SearchBox-loadingIndicator" hidden="">
                              <svg width="18" height="18" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"
                                stroke="#444" class="ais-SearchBox-loadingIcon">
                                <g fill="none" fill-rule="evenodd">
                                  <g transform="translate(1 1)" stroke-width="2">
                                    <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                    <path d="M36 18c0-9.94-8.06-18-18-18" transform="rotate(215.328 18 18)">
                                      <animateTransform attributeName="transform" type="rotate" from="0 18 18"
                                        to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                                    </path>
                                  </g>
                                </g>
                              </svg>
                            </span>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <a href="https://www.lider.cl/supermercado/" target="_blank" rel="noopener noreferrer" class="styled__HoverLink-sc-17jbrkg-1 bFPxBN">
                                <img height="20px" alt="supermercado" src="https://www.lider.cl/catalogo/images/super_cart.svg">
                                <span>Supermercado</span>
                            </a>
                            <div class="cart-supermarket-width">
                                <div class="cart-container" style="background-color: rgb(4, 30, 66);">
                                    <li class="list-inline-item cart-dropdown dropdown nav-item">
                                        <a aria-haspopup="true" href="#" class="p-0 nav-link" aria-expanded="false">
                                            <div id="shoppingCart" class="d-flex justify-content-between shopping-cart-images">
                                                <img alt="cart" src="https://www.lider.cl/catalogo/images/lider-cart.svg" width="29" height="25">
                                                <div class="cart-quantity">
                                                    <div id="quantityNumber" class="quantity-number">0</div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="app-container">
                <div class="rct-app-content">
                    <div class="rct-page">
                        <div class="content-wrapper">
                            <div class="rct-page-content" style="display: flex; column-gap: 20px;">
                                <div style="flex: 1 1 0%;">
                                    <div class="shop-wrapper" style="margin-right: 5px;">
                                        <div class="d-flex mb-60">
                                            <div class="col-lg-3 col-md-4 d-none d-md-block col-padding-12">
                                                <p style="font-size: 20px">Resultados para <b>{{query or 'Todo'}}</b>:</p>
                                            </div>
                                            <div class="col-lg-9 col-padding-12">
                                                {%- if not products.items %}
                                                <div class="styled__SearchWithoutResultContainer-sc-1w20d9o-0 daXHpA">
                                                    <div class="styled__SearchWithoutResultBody-sc-1w20d9o-1 fnCpki"><img alt="exploding-icon" class="styled__Icon-sc-1w20d9o-3 eMsOck img-fluid" src="https://www.lider.cl/catalogo/images/explodingIcon.png">
                                                        <div class="styled__Header-sc-1w20d9o-4 cQMab">¡Lo sentimos!</div>
                                                        <div class="styled__NoResultsText-sc-1w20d9o-5 zLcSj">No encontramos resultados para tu búsqueda de <span>"{{query}}"</span></div>
                                                        <div class="styled__YellowDivider-sc-1w20d9o-7 cOBINS"></div>
                                                        <div class="styled__Tips-sc-1w20d9o-6 cYblGs"><b>Algunos tips</b>: Revisa si escribiste correctamente lo que buscas. Puedes probar nuevamente usando términos menos específicos.</div>
                                                    </div>
                                                </div>
                                                {%- endif %}
                                                <div class="shop-content" style="padding-left: 9px;">
                                                    <div style="" class="ais-Hits">
                                                        <ul class="ais-Hits-list">
                                                            {%- for product in products.items %}
                                                            <li class="ais-Hits-item">
                                                                <div class="">
                                                                    <div class="rct-block  product-block flex-column justify-content-between overflow-hidden bg-white rct-block__hover-shadow">
                                                                        <a href="https://www.lider.cl/catalogo/product/sku/1057468" style="text-decoration: none; height: 100%; display: inline; background-color: white;">
                                                                            <div id="1057468" class="overlay-wrap overflow-hidden bg-white" style="display: flex; align-items: center; justify-content: center; max-height: 220px; width: 100%;">
                                                                                <div class="text-center">
                                                                                    <div class="product-image-shadow"></div>
                                                                                    <div class="d-flex labels-container"></div>
                                                                                    <div class="d-flex cyber-lider-cards-container"></div>
                                                                                    <div id="image" class="bg-white">
                                                                                        <div>
                                                                                            <img id="lazy-img" class="img-hover-zoom img-fluid m-auto " alt="{{product.description}}" src="https://{{product.image}}" style="filter: unset; width: 100%; max-height: 220px; ">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class=" product-info">
                                                                                <div class="d-flex text-left product-description  ">
                                                                                    <div>
                                                                                        <span class="" style="font-weight: bold; color: rgb(0, 0, 0);">{{product.brand}}</span>
                                                                                        <span> {{product.description}}</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="mb-12">
                                                                                    <div class="walmart-sales-price d-flex " style="display: flex; align-items: center;">{{format_price(product.price, discount)}} {%- if has_offer %}
                                                                                        <div class="walmart-discount-percentage-card" style="margin-top: 1px; margin-left: 6px;">{{ (discount_percentage * 100) | int }}%</div>
                                                                                        {%- endif %}
                                                                                    </div>
                                                                                    {%- if has_offer %}
                                                                                    <div class="d-flex">
                                                                                        <span class="walmart-reference-price">{{format_price(product.price)}} </span>
                                                                                    </div>
                                                                                    {%- endif %}
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {%- endfor %}
                                                        </ul>
                                                    </div>
                                                    {%- if products.items %}
                                                    <div class="pagination-container">
                                                        <div class="pagination-wmt">
                                                            <ul class="ais-Pagination-list">
                                                                <li class="ais-Pagination-item ais-Pagination-item--previousPage {{'pagination-disabled-arrows' if not products.has_prev else None }}">
                                                                    <a tabindex="0" role="button" {{ 'aria-disabled="true"' if products.has_prev else None }} aria-label="Previous page" href='{{ url_for("search", page=products.page -1, query=query) }}'>&lt;</a>
                                                                </li>
                                                                {%- for pagination in products.iter_pages(left_edge=1, right_edge=1, right_current=2, left_current=2) %} {% if not pagination %}
                                                                <li class="pagination-break"><a class="pagination-break-link" role="button" tabindex="0">...</a></li>
                                                                {% else %}{% if pagination == products.page %}
                                                                <li class="ais-Pagination-item ais-Pagination-item--page ais-Pagination-item--selected">
                                                                    <a role="button" class="ais-Pagination-link" tabindex="{{i}}" aria-current="page" href='{{ url_for("search", page=pagination, query=query) }}'>{{pagination}}</a>
                                                                </li>
                                                                {% else %}
                                                                <li class="ais-Pagination-item ais-Pagination-item--page">
                                                                    <a role="button" class="ais-Pagination-link" tabindex="{{i}}" href='{{ url_for("search", page=pagination, query=query) }}'>{{pagination}}</a>
                                                                </li>
                                                                {% endif %} {% endif %} {%- endfor %}
                                                                <li class="ais-Pagination-item ais-Pagination-item--nextPage {{'pagination-disabled-arrows ' if not products.has_next else None }}">
                                                                    <a tabindex="0" role="button" {{ 'aria-disabled="true" ' if products.has_next else None }} aria-label="Next page" href='{{ url_for("search", page=products.page + 1, query=query) }}'>&gt;</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {%- endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>