body {
    margin: 0;
    padding: 0;
    font-family: bogle
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms linear
}

.ReactModal__Overlay--after-open {
    opacity: 1
}

.ReactModal__Overlay--before-close {
    opacity: 0
}

@media(max-width:768px) {
    .ReactModal__Content--SelectorModal {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        right: 0!important;
        bottom: 0!important;
        padding: 0!important;
        margin-right: 0%!important;
        transform: translate(0%, 0%)!important;
        height: 100vh!important;
        width: 100%!important
    }
}

.styled_burger {
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 14px;
}

.styled_burger div {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transform-origin: 1px center;
    transition: all 0.3s linear 0s;
    width: 1.45rem;
    height: 0.2rem;
    margin-bottom: 4px;
}

.eChuqJ span {
    color: white;
}

.bFPxBN {
    display: flex;
    margin: 7px;
    padding: 0px 12px;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(69, 171, 25);
    border-radius: 3px;
    cursor: pointer;
    height: 44px;
}

.bFPxBN span {
    color: white;
}

@media (min-width: 911px) {
    .app-container {
        padding-top: 88px;
    }
}

.daXHpA {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px;
    color: rgb(66, 66, 66);
    margin: 10px 5px 25px 10px;
    font-size: 12px;
}

.fnCpki {
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(0, 113, 206, 0.08);
    padding-top: 10px;
}

.cQMab {
    font-size: 34px;
    font-weight: bold;
    color: rgb(4, 30, 66);
}

.zLcSj {
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 113, 206);
}

.cOBINS {
    width: 100px;
    height: 5px;
    background: rgb(255, 194, 32);
    margin: 15px auto;
}

.cYblGs {
    font-size: 16px;
    color: rgb(65, 64, 66);
    padding: 0px 15px 20px;
}

.eMsOck {
    width: 100px;
    margin-top: 15px;
}