@font-face {
    font-family: bogle;
    src: url("/static/fonts/BogleWeb_subset-Regular.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: bogle;
    src: url("/static/fonts/BogleWeb_subset-Regular.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: bogle;
    src: url("/static/fonts/BogleWeb_subset-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: bogle;
    src: url("/static/fonts/BogleWeb_subset-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: bogle bold;
    src: url("/static/fonts/BogleWeb_subset-Bold.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}